@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Default browser font size is 16px. This gives you 10px baseline*/
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
  color: $color-grey-900;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #e0f1e8;
  height: 100vh;
  padding: 128px 16px; //Need to address in mobile

  display: flex;
  //   justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;

  @include respond(phone) {
    padding: 32px 16px;
  }
}
input,
textarea {
  cursor: pointer;
}
